
{% set base_path = "./data" %}

{% set folder_dct = '00_dictionary' %}
{% set folder_raw = '01_raw' %}
{% set folder_int = '02_intermediate' %}
{% set folder_prm = '03_primary' %}
{% set folder_ftr = '04_feature' %}
{% set folder_mst = '05_master_table' %}
{% set folder_mip = '06_model_input' %}
{% set folder_mdl = '07_models' %}
{% set folder_mop = '08_model_output' %}
{% set folder_eda = '09_eda' %}
{% set folder_rpt = '10_reporting' %}
